SECRET_KEY=replace-with-strong-secret
DEBUG=False
ALLOWED_HOSTS=oncopy-tech.ru,www.oncopy-tech.ru,localhost,127.0.0.1
YANDEX_CAPTCHA_CLIENT_KEY=replace-with-your-client-key
YANDEX_CAPTCHA_SERVER_KEY=replace-with-your-server-key
DATABASE_URL=sqlite:///db.sqlite3

EMAIL_HOST_PASSWORD=replace-with-yandex-app-password

CSRF_TRUSTED_ORIGINS=https://oncopy-tech.ru,https://www.oncopy-tech.ru
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True